<% if user_signed_in? %>
  <main class="col-md-9">
    <div class="introducao">
      <div class="page-header text-center">
        <h3>Histórico do sistema</h3>
      </div>

      <p>
        O Sistema referente ao Registro, pelo licenciando, de Atividades Teórico-Práticas
        de Aprofundamento (ATPA), anteriormente denominada Atividades Acadêmico-Científico-Culturais
        (AACC), implementa-se a partir do 2.º semestre de 2019, com base nos prescritos na Resolução
        N.º 2, de 1.º de julho de 2015.
      </p>
      <p>
        Esse Sistema decorreu-se face ao Projeto para Bolsa de Apoio Acadêmico e Desenvolvimento
        Tecnológico, submetido e aprovado pelo Edital N.º 19 – <i>Campus</i> Campos Centro, de 25 de
        setembro de 2018, intitulado “Sistema nos Cursos de Licenciatura: apoio ao
        Registros das Atividades Teórico-Práticas de Aprofundamento – DIRLIC – do <i>campus</i> Campos
        Centro”, com a colaboração do Núcleo de Apoio à Prática Profissional (NAPP), no âmbito da
        Diretoria de Ensino dos Cursos Superiores de Licenciatura do IFFluminense <i>campus</i> Campos
        Centro (DIRLIC), representada pela Professora Dr.ª Marlúcia Cereja de Alencar.
      </p>
      <p>
        A equipe do referido Projeto constitui-se pela Gerente Édina Maria Barreto Lacerda Gomes -
        Pedagoga do NAPP/DIRLIC -, pela Supervisora Gilmara Teixeira Barcelos Peixoto - então
        Coordenadora Adjunta da DIRLIC - e pelo bolsista Lucas Siqueira Fernandes - bacharelando
        do Curso de Sistema de Informação deste <i>Campus</i> -.
      </p>
      <p>
        O Projeto de Apoio Acadêmico e Desenvolvimento Tecnológico originou-se da necessidade
        identificada pelo NAPP/DIRLIC de sistematizar midiaticamente as ATPA, então denominada
        AACC, com uso de ferramentas que facilitassem este processo.
      </p>
      <p>
        A professora dos Cursos de Licenciatura deste <i>Campus</i>, Kennya Ferreira Silva Miranda, então
        aluna do Mestrado Profissional em Ensino e suas Tecnologias promovido pelo Instituto Federal
        de Educação, Ciência e Tecnologia Fluminense (IFFluminense), propôs parceria para o
        desenvolvimento de um Sistema que atendesse as necessidades apontadas pelo
        NAPP/DIRLIC, no que constituiu o produto final de sua dissertação, sob orientação e
        coorientação, respectivamente, Dr.ª Gilmara Teixeira Barcelos Peixoto e Dr.ª Arilise Moraes de
        Almeida Lopes - Professoras do IFFluminense <i>campus</i> Campos Centro -.
      </p>
      <p>
        Numa perspectiva colaborativa e plural ao produto educacional da pesquisa realizada pela
        mestranda Kennya Ferreira Silva Miranda, concretizou-se o Sistema de Registro de Atividades
        Teórico-Práticas de Aprofundamento (ATPA).
      </p>
      <p>
        As Atividades Teórico-Práticas de Aperfeiçoamento (ATPA) nos Cursos de Licenciatura deste
        <i>Campus</i>, em atendimento a Resolução N.º 2/2015 e a concepção pedagógica e do itinerário
        formativo que acreditamos, encontram-se constituídas em atividades integradoras de
        enriquecimento curricular: ENSINO – PESQUISA – EXTENSÃO, (re)definidas no Regulamento
        da Prática Profissional dos Cursos de Licenciatura.
      </p>
      <p>
        Nesse sentido, para que as ATPA não sejam cumpridas apenas por recomendação legal, mas
        como contribuição e amplitude do horizonte do conhecimento, assim como enriquecimento às
        práticas dos futuros docentes, apresenta-se o Sistema de Registro das ATPA.
      </p>
      <p>
        Destacam-se os procedimentos para o acesso, armazenamento, edição sistematizados do 1.º
        ao 8.º período dos Cursos de Licenciatura, com vistas ao Relatório que contemplará a Carga
        Horária Final das ATPA obtida pelo licenciando ao final do Curso, no cumprimento mínimo de
        200 (duzentas) horas.
      </p>
    </div>
  </main>
  <% end %>

  <style type="text/css">
    body {
      overflow-x: none;
    }
    .page-header {
      border-bottom: 2px solid black;
    }
    .introducao {
      background-color: rgba(240,240,240,0.7);
      padding:10px;
      border-radius:10px;
      border:2px solid black;
    }
    .inicial_login > ul > .btn-primary {
      color: blue!important;
      background-color: white;
    }
    .inicial_login > ul > .btn-primary:hover {
      color: white!important;
      background-color: blue;
    }
    .alinhamento_botao {
      text-align: center;
    }
    @media (max-width: 991.98px) {
      main {
        margin-left: 12%;
      }
    }
  </style>
