<% if user_signed_in? %>
  <main class="col-md-9">
    <div class="introducao text-center">
      <div class="page-header pb-1 mb-4 border-bottom">
        <h1>BEM-VINDO!</h1>
        <hr />
        <h3>Sistema ATPA</h3>
      </div>

      <h4 style="color: red;">Cadastre suas atividades.</h4>
      <br />
      <p class="alinhamento_botao">
        Consulte antes as ORIENTAÇÕES para o cadastro das ATPA <br />
        <a href="http://licenciaturas.centro.iff.edu.br/nucleo-de-apoio-a-pratica-profissional/cadastro-de-atpa-atividades-teorico-praticas-de-aprofundamento-a-partir-de-2019.02" class="btn btn-primary">Clique Aqui</a> 
        <br /><br />

        Para o Registro das ATPA, clique abaixo <br />
        <% if current_user.role == "admin" %>
          <%= button_to 'Clique Aqui', new_activity_path, :class => "btn btn-success", disabled: true %>
        <% else %>
          <%= link_to 'Clique Aqui', new_activity_path, :class => "btn btn-success" %>
        <% end %>
        </p>
    </div>
  </main>
  <% else %>
    <div class="container">
      <div class="inicial_login">
        <h5>Seja bem-vindo!</h5> <br />

        <ul>
            <%= link_to "Criar conta", new_user_registration_path, :class => "btn btn-primary" %><br /> <br/>
            <%= link_to "Login", new_user_session_path, :class => "btn btn-primary"%><br />
        </ul>
      </div>
    </div>
  <% end %>

  <style type="text/css">
    body {
      overflow-x: none;
    }
    .page-header {
      border-bottom: 2px solid black;
    }
    .introducao {
      background-color: rgba(240,240,240,0.7);
      padding:10px;
      border-radius:10px;
      box-shadow: -2px 2px 15px rgba(10,10,10,0.3);
    }
    .inicial_login > ul > .btn-primary {
      color: blue!important;
      background-color: white;
    }
    .inicial_login > ul > .btn-primary:hover {
      color: white!important;
      background-color: blue;
    }
    .alinhamento_botao {
      text-align: center;
    }
    @media (max-width: 991.98px) {
      main {
        margin-left: 12%;
      }
    }
  </style>
