<div class="container">
  <% if current_user.role == "admin" %>
  <h1>Analisando Atividade</h1>
  <% else %>
  <h1>Editando Atividade</h1>
  <% end %>
  <div class="row">
    <div class="col-md-4">
    <%= render 'form', activity: @activity %>
    <% if(current_user.role == "admin") %>
        <%= link_to 'Voltar', activities_path, :class => "btn btn-primary"  %>
    <% end %>
    </div>

    <% if current_user.role == "admin" %>
      <div class="col-md-7 tabela_div">
        <%= render 'show', activity: @activity %>
      </div>
    <% end %>
  </div>


  <style type="text/css">
    .container a {
      margin-top:5px;
      margin-left:15px;
    }
    table {
      width:700px!important;
    }
    .tabela_div {
      margin-top:-75px;
      margin-left: 70px;
    }
    @media (max-width: 767.98px) {
      .tabela_div {
        margin-top: 30px;
        margin-left: -10px;
      }
    }
  </style>
</div>
