
  <% if current_user.role != "admin" %>
  <div class="container">
    <h1>Nova Atividade</h1>
    <%= render 'form', activity: @activity %>
  </div>
  <% end %>

  <% if current_user.role == "admin" %>
    <div class="container col-md-9">
      <h1>Modificar atividade de Horas</h1>
      <%= render 'admin', activity: @activity %>
    </div>
  <% end %>


  <style type="text/css">
    .container ul li {
      margin-left:-40px;
    }
  </style>
